<h2>Workflows</h2>
<div class="row">
  <div class="col s12">
    {{#each model as |pipeline|}}
      {{#md-card title=pipeline.title}}
	{{#md-card-content}}
	  {{pipeline.description}}
	{{/md-card-content}}
	{{#md-card-action}}
	  {{#link-to 'pipelines.steps' pipeline}}Monitor{{/link-to}}
	{{/md-card-action}}
      {{/md-card}}
    {{/each}}
  </div>
</div>

{{outlet}}

