<div class="row">
  <div class="col s12">
    <h2>List of Pipelines</h2>
  </div>
</div>

<div class="row">
{{#each model as |pipeline|}}

  <div class="col s12 m6 l4">
    {{pipeline-view pipeline=pipeline}}
  </div>

{{/each}}
</div>

{{outlet}}
